<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cannon Wedding</title>
</head>
<body>

  <div class="header">
  
    <h1>Brad Cannon</h1>
    
    <h3>and</h3>
    
    <h1>Jennifer Carlile</h1>
    
    <p>request the pleasure of your company at their wedding</p>
    
  </div>
  
  <div class="nav">
  
    <a href="/">Home</a>
    
    <a href="/rsvp">RSVP</a>
    
  </div>
  
  <div class="row">
  
    <div class="column middle" style="width: 60%">
    
      <div class = "card">
      
        <img src="/static/both.jpg">
        
       </div>
       
    </div>
    
    <div class="column side" style="width: 40%; padding-left: 5px;">
    
      <div class="card">
      
         <h2>Date and Time</h2>
         
         <p>Saturday, June 3, 2023 at 10:30am</p>    
         
      </div>
      
      <div class="card">
      
        <h2>Location</h2>
        
          <a href="https://www.google.com/maps/place/45+Old+Alcovy+Rd,+Covington,+GA+30014/@33.6471214,-83.7978063,17z/data=!3m1!4b1!4m6!3m5!1s0x88f5cd31f1eb4af5:0xf79388ac576e70cb!8m2!3d33.647117!4d-83.793327!16s%2Fg%2F11csncj5j9">45 Old Alcovy Road, Covington, GA</a>
          
       </div>    
       
            <div class="card">
            
              <h2>Itinerary</h2>
              
              
    <p> 10:30am: Ceremony</p>
    <p> 10:30am: Pictures</p>
    <p> 11:10am: Brunch Reception</p>
    <p> 12:00pm: First Dance</p>
    <p> 12:30pm: Send Off</p>
              
              
            </div>  	
            
    </div>
    
  </div>
  
  </body>
  
</html>